.CodeInput__Container,
.CodeInput__Backdrop,
.CodeInput__Textarea {
  width: 460px;
  height: 180px;
}

.CodeInput__Container {
  display: block;
  margin: 0 auto;
  transform: translateZ(0);
  -webkit-text-size-adjust: none;
}

.CodeInput__Backdrop {
  position: absolute;
  z-index: 1;
  border: 2px solid #685972;
  background-color: #fff;
  overflow: auto;
  pointer-events: none;
  transition: transform 1s;
}

.CodeInput__Highlight {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.CodeInput__Textarea {
  display: block;
  position: absolute;
  z-index: 2;
  margin: 0;
  border: 2px solid #74637f;
  border-radius: 0;
  color: transparent;
  caret-color: red;
  background-color: transparent;
  overflow: auto;
  resize: none;
  transition: transform 1s;
}

/* TODO: Delete */
mark {
  background-color: #d4e9ab; /* or whatever */
  border: 0;
}

.CodeInput__Highlight,
.CodeInput__Textarea {
  padding: 10px;
  font: 20px/28px monospace, sans-serif;
  letter-spacing: 1px;
}

.CodeInput__Container,
.CodeInput__Container::before,
.CodeInput__Container::after,
.CodeInput__Backdrop,
.CodeInput__Backdrop::before,
.CodeInput__Backdrop::after,
.CodeInput__Highlight,
.CodeInput__Highlight::before,
.CodeInput__Highlight::after,
.CodeInput__Textarea,
.CodeInput__Textarea::before,
.CodeInput__Textarea::after {
  box-sizing: border-box;
}
