html {
  --code-color-background: #f9f9f9;
  --code-color-main: #5a6177;
  --code-color-yellow: #ffbf00;
  --code-color-purple: #9a66ff;
  --code-color-blue: #4c97ff;
  --code-color-magenta: #cf63cf;
  --code-color-orange: #ffab1a;
  --code-color-cyan: #5bb1d6;
  --code-color-green: #58c059;
  --code-color-fire: #ff8c19;
  --code-color-red: #ff6619;
  --code-color-pink: #ff6680;
}

.CodeInput__Container,
.CodeInput__Backdrop,
.CodeInput__Textarea {
  width: 460px;
  height: 180px;
}

.CodeInput__Container {
  display: block;
  margin: 0 auto;
  transform: translateZ(0);
  -webkit-text-size-adjust: none;
}

.CodeInput__Backdrop {
  position: absolute;
  z-index: 1;
  border: 2px solid var(--code-color-main);
  background-color: var(--code-color-background);
  overflow: auto;
  pointer-events: none;
  transition: transform 1s;
}

.CodeInput__Highlight {
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: visible;
}

.CodeInput__Textarea {
  display: block;
  position: absolute;
  z-index: 2;
  margin: 0;
  border: 2px solid var(--code-color-main);
  border-radius: 0;
  color: transparent;
  caret-color: var(--code-color-main);
  background-color: transparent;
  resize: none;
  transition: transform 1s;
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
  outline: none;
}

.CodeInput__Highlight,
.CodeInput__Textarea {
  padding: 10px;
  font: 20px/28px monospace, sans-serif;
  letter-spacing: 1px;
}

.CodeInput__Container,
.CodeInput__Container::before,
.CodeInput__Container::after,
.CodeInput__Backdrop,
.CodeInput__Backdrop::before,
.CodeInput__Backdrop::after,
.CodeInput__Highlight,
.CodeInput__Highlight::before,
.CodeInput__Highlight::after,
.CodeInput__Textarea,
.CodeInput__Textarea::before,
.CodeInput__Textarea::after {
  box-sizing: border-box;
}
